<div id="question">
<h3>
  Your question is:
  <p><%= @query %></p>
</h3>
</div>

<div id="answer">
<% if @query %>
  <h3>
    Coach's answer is
    <p><%= @answer %></p>
  </h3>
<% end %>
</div>

<%= link_to "Ask new questions", ask_path %>
<!-- If the message is I am going to work, the coach will answer Great!
If the message has a question mark ? at the end, the coach will answer Silly question, get dressed and go to work!.
Otherwise he will answer I don't care, get dressed and go to work! -->
